<div class="container">
<%= flash[:notice] %>
  <div class="row">
    <div class="col-md-12">
          <br>
          <h1 class="banner page-header">Contact. Us.</h1>          
          <p>Come by the shop and check out our full selection, or get a quote on a repair or your existing bike that you're looking to sell <span class="glyphicon glyphicon-heart"></span></p>
          <p>Fill in the form below if you've got any questions or concerns. We'd love to hear from you!</p>
          <br><hr>
    </div>
    <div class="col-md-4">
    	<h1 class="head">Contact</h1>
		<%= form_tag("/static_pages/thank_you") do %>
			<div class="form-group">
				<%= label_tag :name %>
				<%= text_field_tag :name, nil, class: "form-control", placeholder: "	Enter Name" %>
			</div>      
			<div class="form-group">
				<%= label_tag :email, "Email Address" %>
				<%= text_field_tag :email, nil, class: "form-control", placeholder: "	Enter Email" %>
			</div>
			<div class="form-group">
				<%= label_tag :message %>
				<%= text_area_tag :message, nil, class: "form-control", placeholder: 	"Enter Message" %>
			</div>      
			<%= submit_tag "Send", class: "btn btn-primary btn-sm" %>
		<% end %>
	</div>
	<div class="col-md-4">
		<h1 class="head">Location</h1>
			<div class="maps">
				<iframe width="600" height="450"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=London%20bridge&key=AIzaSyBA7TXrukzV5oc6nrzqv_N3KkutQb10gdU" 		allowfullscreen></iframe>
			</div>
	</div>
	<div class="col-md-4">
		<h1 class="head">Address</h1>
		<br>
		<p>Bike London</p>
		<p>London Bridge</p>
		<p>London</p>
		<p>EN1 1EN</p>
	</div>
  </div>
</div>