<div class="container">
  <div class="row thumbnail">
    <h2><%= @product.name %></h2><br>
      <div class="col-md-5"><%= image_tag(@product.image_url, class: "img-responsive") %>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <blockquote class="blockquote"><p><%= @product.description %></p></blockquote>
        <p>Average rating:<div class="rated" data-score="<%= @product.average_rating %>"></div></p>
        <p>Colour: <%= @product.colour %></p>
        <p>£ <%= @product.price %></p>
        <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary btn-sm" %> |
        <%= link_to 'Back', products_path, class: "btn btn-primary btn-sm" %>          
      </div>
      <div class="col-xs-6 col-xs-offset-3 reviewblock">
      <%= render 'comments' %><br>
      <%= render 'new_comment' %>
      </div>
  </div>
</div>

