<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bike Berlin</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= is_active?('/') %>"><%= link_to "Home", '/' %></li>
        <li class="<%= is_active?('/static_pages/about') %>"><%= link_to "About", '/static_pages/about' %></li>
        <li class="<%= is_active?('/static_pages/contact') %>"><%= link_to "Contact", '/static_pages/contact' %></li>
        <li class="<%= is_active?('/products') %>"><%= link_to "Products", '/products' %></li>
        <li><%= form_tag("/products", method: "get", class: "navbar-form navbar-left", role: "search") do %>
              <div class="form-group">
                  <%= text_field_tag "q", nil,  placeholder: 'Search our products..', class: "form-control" %>
              </div>
                  <%= submit_tag("Go", class: "btn btn-default", type: "submit") %>
            <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="<%= is_active?('/users/edit') %>">
            <%= link_to "#{current_user.first_name}", edit_user_registration_path %>
          </li>
        <% else %>
          <li class="<%= is_active?('/users/sign_in') %>">
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {  confirm: 'Press OK to Logout' } %>
          </li>
        <% else %>
          <li class="<%= is_active?('/users/sign_up') %>">
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>